nodemoulues# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist
/build

# testing
/coverage

# local env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs & editors
.vscode
.idea
.DS_Store
*.swp

# OS files
Thumbs.db

# optional: local SSL keys
*.pem
*.key
*.crt
