body {
    background-color: #f0f1f5;
}

.navbar-sticky.is-stuck .navbar:not(.offcanvas-body),
.navbar-sticky.is-stuck.navbar,
.navbar-sticky.navbar-stuck .navbar:not(.offcanvas-body),
.navbar-sticky.navbar-stuck.navbar {
    background-color: var(--cz-body-bg);
    box-shadow: 0 .5rem 2rem -.25rem rgba(103, 111, 123, .1);
}

.navbar {
    --cz-navbar-brand-font-weight: 600;
}

.layer-panel {
    height: 500px;
    overflow-y: scroll;
    /* border-radius: 15px; */
    /* padding: 15px; */
    /* background-color: #fff; */
}